  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="questionInput" value="{{this.question}}" placeholder="type question" name="add_question">
    <label for="questionInput">Question</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="answerInput" value="{{this.answer}}" placeholder="type answer" name="add_answer">
    <label for="answerInput">Answer</label>
  </div>

  <div class="col-12 d-grid">
    <button class="btn btn-outline-secondary" type="submit">Submit Card</button>
  </div>

