<main>
    <form class="playQuiz" method="POST">
        <div class="quizHead">
            <h2 class="quizName">Help</h2>
        </div>
        <p>Welcome to the BrainTrain help page!</p>
        <p>Here you can find information on how to use the app to improve your memory retention using the game.</p>
        <ul>
            <li>Create flashcards with information you want to remember</li>
            <li>Select the deck you want to play with</li>
            <li>Write off your responses and check them</li>
            <li>After a round, you are ready for four more rounds with the game shuffling them depending on your
                performance</li>
            <li>Track your progress with your scores!</li>
            <li>Play the game as often as you want to improve your knowledge over time!</li>
        </ul>
        <p>If you have any further questions, please don't hesitate to contact us at support@braintrain.com</p>
    </form>
</main>