<main>
    {{!-- Table to display the questions and answers --}}

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Quiz Name</th>

                <th scope="col" class="text-end">Play/Edit</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Quiz #1</td>
                <td class="text-end">
                    <a href="/play" type="button" class="btn btn-light btn-small"><i class="bi bi-play-fill"></i></a>
                    <a href="/edit" type="button" class="btn btn-light btn-small"><i class="bi bi-pen-fill"></i></a>
                    {{!--<a href="..." type="button" class="btn btn-light btn-small"><i class="bi bi-trash-fill"></i></a>--}}                   
                </td>                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</main>