<main>
    <form class="playQuiz" method="POST">
        <div class="quizHead">
            <h2 class="quizName">Quiz #1</h2>
        </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                    <th scope="col" class="text-end">Submit</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {{#each rows}}
                <tr class="page">
                    <td>{{this.question}}</td>
                    <td>
                        <input type="text" name="answer" id="answer" placeholder="Enter your answer here">
                    </td>
                    <td class="text-end">
                        <a href="play/{{this.card_id}}" type="button" class="btn btn-primary">Submit</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <!-- A, B and C containers. -->
        <div class="ABC-container">
            <p class="pr">A</p>
            <p class="pr">B</p>
            <p class="pr">C</p>
        </div>

        <!-- Bootstrap pagination indicators -->
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">« Previous</a>
                </li>
                {{#each pages}}
                <li class="page-item {{this.active}}">
                    <a class="page-link" href="#">{{this.page}}</a>
                </li>
                {{/each}}
                <li class="page-item">
                    <a class="page-link" href="#">Next »</a>
                </li>
            </ul>
        </nav>
        <!-- buttons to navigate questions. If pagination is implemented -->
        <div class="button-container">
            <button class="endBtn" type="submit">End Game</button>
        </div>
    </form>
</main>

{{!--Bootstrap pagination--}}
<script>
    var itemsPerPage = 1; // change this to adjust the number of items per page
    var $paginationRows = document.querySelectorAll('.table tbody tr.page');
    var numRows = $paginationRows.length;
    var numPages = Math.ceil(numRows / itemsPerPage);
    var $prevBtn = document.querySelector('.prevBtn');
    var $nextBtn = document.querySelector('.nextBtn');
    var $prevPage = document.querySelector('#prevPage');
    var $nextPage = document.querySelector('#nextPage');
    var currentPage = 0;

    function showPage(pageNum) {
        var startIndex = pageNum * itemsPerPage;
        var endIndex = startIndex + itemsPerPage;
        for (var i = 0; i < numRows; i++) {
            if (i >= startIndex && i < endIndex) {
                $paginationRows[i].style.display = 'table-row';
            } else {
                $paginationRows[i].style.display = 'none';
            }
        }
    }

    function updatePagination() {
        var pages = [];
        for (var i = 0; i < numPages; i++) {
            var page = {
                page: i + 1,
                active: ''
            };
            if (i === currentPage) {
                page.active = 'active';
            }
            pages.push(page);
        }
        var prevDisabled = currentPage === 0 ? 'disabled' : '';
        var nextDisabled = currentPage === numPages - 1 ? 'disabled' : '';
        var prevPageNum = currentPage > 0 ? currentPage - 1 : 0;
        var nextPageNum = currentPage < numPages - 1 ? currentPage + 1 : numPages - 1;
        var prevPageLink = '<a class="page-link" href="#" tabindex="-1">Previous</a>';
        var nextPageLink = '<a class="page-link" href="#">Next</a>';
        if (prevDisabled === 'disabled') {
            prevPageLink = '<span class="page-link">Previous</span>';
        }
        if (nextDisabled === 'disabled') {
            nextPageLink = '<span class="page-link">Next</span>';
        }
        var paginationHTML = '';
        paginationHTML += '<li class="page-item ' + prevDisabled + '" id="prevPage">';
        paginationHTML += prevPageLink;
        paginationHTML += '</li>';
        pages.forEach(function (page) {
            paginationHTML += '<li class="page-item ' + page.active + '">';
            paginationHTML += '<a class="page-link" href="#">' + page.page + '</a>';
            paginationHTML += '</li>';
        });
        paginationHTML += '<li class="page-item ' + nextDisabled + '" id="nextPage">';
        paginationHTML += nextPageLink;
        paginationHTML += '</li>';
        var $pagination = document.querySelector('.pagination');
        $pagination.innerHTML = paginationHTML;
        $prevPage = document.querySelector('#prevPage');
        $nextPage = document.querySelector('#nextPage');
        $prevPage.addEventListener('click', function () {
            if (currentPage > 0) {
                currentPage--;
                showPage(currentPage);
                updatePagination();
            }
        });
        $nextPage.addEventListener('click', function () {
            if (currentPage < numPages - 1) {
                currentPage++;
                showPage(currentPage);
                updatePagination();
            }
        });
    }

    showPage(currentPage);
    updatePagination();
</script>